@use '../../../scss' as *;

:host {
  @include page;
}

.column {
  @include column;
  & > *:last-child {
    margin-bottom: 80px;
  }
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  @include subheader;
  @include desktop-small {
    font-size: 26px;
  }
  @include tablet {
    font-size: 20px;
  }
  @include mobile {
    font-size: 18px;
  }
}

//=============================================================================
//  Book Data & Chapters
//=============================================================================

.book-data-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  @include page-block;
  @include mobile {
    gap: 10px;
  }
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
  }
  .book-data-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &.right {
      margin-bottom: auto;
      flex-grow: 1;
    }
    @include mobile {
      gap: 10px;
    }
  }
  .cover {
    display: block;
    width: 240px;
    aspect-ratio: 204 / 291;
    border-radius: 4px;
    transition: .2s;
    @include hover {
      filter: brightness(1.1);
    }
  }
  .link-container {
    text-align: center;
    .google-books-link {
      display: inline-flex;
      align-items: center;
      color: $text-darker;
      transition: .2s;
      .icon {
        margin-left: 10px;
        margin-bottom: 1px;
        @include square(16px);
      }
      @include hover {
        filter: brightness(1.2);
      }
    }
  }
  table {
    width: 100%;
    th, td {
      padding: 2px 5px;
      background-color: $bg-bright;
      transition: .2s;
      @include hover {
        filter: brightness(1.1);
      }
    }
    th {
      width: 150px;
      text-align: left;
      @include mobile {
        width: 120px;
      }
    }
  }
  p {
    padding: 0 2px;
  }
}

.book-chapters {
  @include card-container;
}

//=============================================================================
//  Related Video
//=============================================================================

.video-container {
  display: flex;
  gap: 20px;
  padding: 10px;
  @include page-block;
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .video-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .video-header {
      @include block-header;
    }
  }
  iframe {
    flex-shrink: 0;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 6px;
  }
}

//=============================================================================
//  Shops
//=============================================================================

.shops-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6px;
  color: $text-normal;
  overflow: hidden;
  .row {
    display: flex;
    width: 100%;
    gap: 2px;
    & > * {
      background-color: $bg-normal;
    }
    .country-name {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding: 2px 10px;
      width: 150px;
      @include mobile {
        width: 110px;
      }
    }
    .shops {
      padding: 5px;
      @include link-container;
      .shop {
        @include inline-link;
      }
    }
  }
  .shops-block {
    width: 100%;
    padding: 5px;
    background-color: $bg-normal;
    &.half {
      width: calc((100% - 2px) / 2);
      @include tablet {
        width: 100%;
      }
    }
    .block-header {
      @include block-header;
    }
    .search-content {
      padding-top: 5px;
      @include link-container;
      .search-link {
        @include inline-link;
      }
    }
    ul {
      margin-left: 20px;
      padding-top: 5px;
      li {
        padding: 1px 0;
        color: $text-dark;
        a {
          transition: .2s;
          @include hover {
            color: $text-normal;
          }
        }
      }
    }
  }
}
