@use '../../../scss' as *;

:host {
  @include page;
}

.column {
  display: flex;
  flex-direction: column;
  @include column;
  & > *:last-child {
    margin-bottom: 80px;
  }
}

.book-data-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 6px;
  background-color: $bg-normal;
  color: $text-normal;
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cover {
    display: block;
    width: 240px;
    border-radius: 4px;
    transition: .2s;
    @include hover {
      filter: brightness(1.1);
    }
  }
  .link-container {
    text-align: center;
    .google-books-link {
      display: inline-flex;
      align-items: center;
      margin: 15px 0 5px 0;
      color: $text-darker;
      transition: .2s;
      .icon {
        width: 16px;
        height: 16px;
        margin-left: 10px;
        margin-bottom: 1px;
      }
      @include hover {
        filter: brightness(1.2);
      }
    }
  }
  .book-data {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    margin-bottom: auto;
    @include mobile {
      gap: 10px;
    }
  }
  table {
    width: 100%;
    th, td {
      padding: 2px 5px;
      background-color: $bg-bright;
      transition: .2s;
      @include hover {
        filter: brightness(1.1);
      }
    }
    th {
      width: 150px;
      text-align: left;
    }
  }
  p {
    padding: 0 2px;
  }
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  @include subheader;
  @include desktop-small {
    font-size: 26px;
  }
  @include tablet {
    font-size: 20px;
  }
  @include mobile {
    font-size: 18px;
  }
}

.book-chapters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 15px;
  .chapter {
    display: flex;
    @include card-horizontal;
    img {
      width: 100px;
      height: 100px;
    }
    .card-data {
      padding: 5px 5px 5px 10px;
      letter-spacing: 0.03em;
    }
    .caption {
      font-size: 15px;
      margin-bottom: 5px;
    }
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}

@mixin mini-header {
  padding: 2px 10px;
  background-color: $bg-bright;
  font-size: 18px;
  font-variant: small-caps;
  span {
    font-size: smaller;
  }
  @include mobile {
    font-size: 16px;
  }
}

.video-container {
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: 6px;
  background-color: $bg-normal;
  color: $text-normal;
  .video-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .video-header {
      @include mini-header;
    }
  }
  iframe {
    flex-shrink: 0;
    max-width: 100%;
    border-radius: 6px;
  }
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

@mixin link-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 3px 4px;
}

@mixin inline-link {
  padding: 1px 5px;
  border-radius: 4px;
  background-color: $bg-bright;
  color: $text-darker;
  transition: .2s;
  @include hover {
    color: $text-hovered;
  }
}

.shops-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 0 5px;
  color: $text-normal;
  .row {
    display: flex;
    width: 100%;
    gap: 2px;
    & > * {
      background-color: $bg-normal;
    }
  }
  .country-name {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 2px 10px;
    width: 150px;
    @include mobile {
      width: 110px;
    }
  }
  .shops {
    padding: 5px;
    @include link-container;
    .shop {
      @include inline-link;
    }
  }
  .block-header {
    text-align: center;
    @include mini-header;
  }
  .shops-block {
    width: 100%;
    padding: 5px;
    background-color: $bg-normal;
    &.half {
      width: calc(50% - 2px);
      @include tablet {
        width: 100%;
      }
    }
    .search-content {
      padding-top: 5px;
      @include link-container;
      .search-link {
        @include inline-link;
      }
    }
    ul {
      margin-left: 20px;
      padding-top: 5px;
      li {
        padding: 1px 0;
        color: $text-darker;
        a {
          transition: .2s;
          @include hover {
            color: $text-hovered;
          }
        }
      }
    }
  }
}