@use '../../../scss' as *;

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  animation: fade-in 1s;
}

header {
  text-align: center;
  .author {
    color: $text-dark;
    font-size: 40px;
    font-family: 'Philosopher', sans-serif;
    @include desktop-small {
      font-size: 36px;
    }
    @include tablet {
      font-size: 30px;
    }
    @include mobile {
      font-size: 24px;
    }
  }
  h1 {
    background: radial-gradient($text-dark, $text-darker);
    background-clip: text;
    color: transparent;    
    font-size: 100px;
    font-family: 'Philosopher Bold', sans-serif;
    letter-spacing: 0.15em;
    @include desktop-small {
      font-size: 80px;
    }
    @include tablet {
      font-size: 60px;
    }
    @include mobile {
      font-size: 34px;
    }
  }
}

h2 {
  width: min(1000px, 100% - 20px);
  margin-top: 40px;
  font-size: 40px;
  @include subheader;
  @include desktop-small {
    font-size: 36px;
  }
  @include tablet {
    font-size: 30px;
  }
  @include mobile {
    font-size: 24px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 90px;
  max-width: calc(100% - 20px);
  margin: 40px 0;
  @include desktop-small {
    gap: 25px;
  }
  @include tablet {
    gap: 40px 60px;
  }
  @include mobile {
    gap: 25px 30px;
    margin: 20px 0;
  }
}

.book-container {
  @include card-vertical;
  img {
    width: 240px;
    aspect-ratio: 204 / 291;
    @include desktop-small {
      width: 220px;
    }
    @include tablet {
      width: 240px;
    }
  }
  .card-data {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 10px;
  }
  .book-title {
    font-size: 20px;
    letter-spacing: 0.03em;
    @include desktop-small {
      font-size: 18px;
    }
  }
  .book-year {
    font-size: 16px;
    @include desktop-small {
      font-size: 15px;
    }
  }
}

.material-container {
  @include card-vertical;
  img {
    width: 300px;
    aspect-ratio: 1;
    @include desktop-small {
      width: 240px;
    }
    @include mobile {
      width: 260px;
    }
  }
  .card-data {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.03em;
    @include desktop-small {
      font-size: 18px;
    }
  }
}