:host {
  width: 100%;
  padding-top: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  width: min(1000px, 100% - 20px);
  height: 100%;
  margin: 0 auto;
  background-color: #111;
}