<div class="column">

  <ng-template
    [ngTemplateOutlet]="nav"
    [ngTemplateOutletContext]="{ 
      entityId: articleData?.entityId(),
      previousId: articleData?.previousId(),
      nextId: articleData?.nextId()
    }"
  />

  <div class="column-content">

    @if (articleData?.article(); as article) {

      <!-- Header -->
      <hgroup>
        @if (article.caption) {
          <div>{{ article.caption }}</div>
        }
        <h2>{{ article.title }}</h2>
      </hgroup>

      <!-- Article Elements -->
      @for (element of article.content; track $index) {
        @switch (element.type) {

          @case (ArticleElement.subheader) {
            <h3>
              <ng-template 
                [ngTemplateOutlet]="text" 
                [ngTemplateOutletContext]="{ content: element.content }" 
              />
            </h3>
          }

          <!-- Paragraph -->
          @case (ArticleElement.paragraph) {
            <ng-template 
              [ngTemplateOutlet]="paragraph" 
              [ngTemplateOutletContext]="{ element }" 
            />
          }

          <!-- Quote -->
          @case (ArticleElement.quote || ArticleElement.epigraph) {
            <ng-template 
              [ngTemplateOutlet]="quote" 
              [ngTemplateOutletContext]="{ element }" 
            />
          }

          <!-- Epigraph -->
          @case (ArticleElement.epigraph) {
            <blockquote class="epigraph">
              @for (part of element.content; track $index) {
                <div>
                  <ng-template 
                    [ngTemplateOutlet]="text" 
                    [ngTemplateOutletContext]="{ content: part }" 
                  />
                </div>
              }
              @if (element.author) {
                <div class="author">
                  <ng-template 
                    [ngTemplateOutlet]="text" 
                    [ngTemplateOutletContext]="{ content: element.author }" 
                  />
                </div>
              }
            </blockquote>
          }

          <!-- Image -->
          @case (ArticleElement.image) {
            <figure 
              [ngClass]="{ 
                'to-left': element.position === ImagePosition.left,
                'to-right': element.position === ImagePosition.right
              }">
              <div class="image-wrapper">
                <img [src]="element.url" [alt]="element.alt || ''" />
                @if (element.caption) {
                  <figcaption>
                    <ng-template 
                      [ngTemplateOutlet]="text" 
                      [ngTemplateOutletContext]="{ content: element.caption }" 
                    />
                  </figcaption>
                }
              </div>
            </figure>
          }

          <!-- Video -->
          @case (ArticleElement.video) {
            <div class="video-container">
              <div class="video-wrapper">
                <iframe
                  width="560"
                  height="315"
                  [src]="videoURL()[element.url]"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen>
                </iframe>
                @if (element.caption) {
                  <caption>
                    <ng-template 
                      [ngTemplateOutlet]="text" 
                      [ngTemplateOutletContext]="{ content: element.caption }" 
                    />
                  </caption>
                }
              </div>
            </div>
          }

          <!-- Separator -->
          @case (ArticleElement.separator) {
            <div class="separator">***</div>
          }

          <!-- Attribution -->
          @case (ArticleElement.attribution) {
            <div class="attribution">
              @for (part of element.content; track $index) {
                <div>
                  <ng-template 
                    [ngTemplateOutlet]="text" 
                    [ngTemplateOutletContext]="{ content: part }" 
                  />
                </div>
              }
            </div>
          }

          <!-- References -->
          @case (ArticleElement.referenceList) {
            <div class="line"></div>
            <ul class="reference-list">
              @for (reference of element.content; track reference.id) {
                <li 
                  id="reference-{{ reference.id }}"
                  [ngClass]="{ 'selected': reference.id === selectedReferenceId() }">
                  <div class="reference-id">{{ reference.text || reference.id + '.' }}</div>
                  <div>
                    <ng-template 
                      [ngTemplateOutlet]="text" 
                      [ngTemplateOutletContext]="{ content: reference.content }" 
                    />
                  </div>
                </li>
              }
            </ul>
          }
        }
      }
    }

  </div>

  <ng-template
    [ngTemplateOutlet]="nav"
    [ngTemplateOutletContext]="{ 
      entityId: articleData?.entityId(),
      previousId: articleData?.previousId(),
      nextId: articleData?.nextId()
    }"
  />

</div>

<!-- Template: Navigation -->
<ng-template #nav let-entityId="entityId" let-previousId="previousId" let-nextId="nextId">
  <nav class="navigation">
    <a [routerLink]="['/', entityId, previousId]" [ngClass]="{ 'disabled': previousId === null }">
      <button type="button" [ngClass]="{ 'no-transitions': noTransitions() }">
        <div class="arrow">&larr;</div>
        <div>Предыдущая</div>
      </button>
    </a>
    <a [routerLink]="['/', entityId, nextId]" [ngClass]="{ 'disabled': nextId === null }">
      <button type="button" [ngClass]="{ 'no-transitions': noTransitions() }" >
        <div class="arrow">&rarr;</div>
        <div>Следующая</div>
      </button>
    </a>
  </nav>
</ng-template>

<!-- Template: Text -->
<ng-template #text let-content="content">
  @for (element of content; track $index) {
    @if (typeof element === 'string') {
      <ng-container>{{ element }}</ng-container>
    } @else {
      @switch (element.type) {
        @case (InlineElement.italic) {
          <i>
            <ng-template 
              [ngTemplateOutlet]="text" 
              [ngTemplateOutletContext]="{ content: element.text }" 
            />
          </i>
        }
        @case (InlineElement.bold) {
          <b>
            <ng-template 
              [ngTemplateOutlet]="text" 
              [ngTemplateOutletContext]="{ content: element.text }" 
            />
          </b>
        }
        @case (InlineElement.link) {
          <a [href]="element.url" target="_blank">{{ element.text }}</a>
        }
        @case (InlineElement.reference) {
          <sup>
            <a [routerLink]="[]" fragment="reference-{{ element.id }}">
              <ng-container>[{{ element.text || element.id }}]</ng-container>
            </a>
          </sup>
        }
      }
    }
  }
</ng-template>

<!-- Template: Paragaraph -->
<ng-template #paragraph let-element="element">
  <p>
    <ng-template 
      [ngTemplateOutlet]="text" 
      [ngTemplateOutletContext]="{ content: element.content }" 
    />
  </p>
</ng-template>

<!-- Template: Quote -->
<ng-template #quote let-element="element">
  <blockquote class="quote" [ngClass]="{ 'complex': element.complexContent }">
    @for (part of element.content; track $index) {
      <div>
        <ng-template 
          [ngTemplateOutlet]="text" 
          [ngTemplateOutletContext]="{ content: part }" 
        />
      </div>
    }
    @if (element.complexContent) {
      @for (part of element.complexContent; track $index) {
        @switch (part.type) {
          @case (ArticleElement.paragraph) {
            <ng-template 
              [ngTemplateOutlet]="paragraph" 
              [ngTemplateOutletContext]="{ element: part }"
            />
          }
          @case (ArticleElement.quote) {
            <ng-template 
              [ngTemplateOutlet]="quote" 
              [ngTemplateOutletContext]="{ element: part }"
            />
          }
        }
      }
    }
    @if (element.author) {
      <div class="author">
        <ng-template 
          [ngTemplateOutlet]="text" 
          [ngTemplateOutletContext]="{ content: element.author }" 
        />
      </div>
    }
  </blockquote>
</ng-template>