@use '../scss' as *;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url('../../public/img/bg/wheat.webp');
  background-size: 740px;
  @include desktop-small {
    background-size: 30%;
  }
  @include tablet {
    background-size: 40%;
  }
  @include mobile {
    background-size: 50%;
  }
}

main {
  display: flex;
  min-height: 100vh;
}

footer {
  width: 100%;
  min-height: 120px;
  padding: 30px 10px;
  background: url('../../public/img/bg/wheat-pattern.webp');
  background-size: 180px;
  color: $text-dark;
  text-align: center;
  letter-spacing: .03em;
  @include layout-shadow;
}
