<!-- Navigation Bar -->
@if (!isMainPage()) {
  <div class="nav-bar">
    <a class="link" routerLink="/">
      <img class="home-icon" src="img/icons/home.webp" />
    </a>
    @if (entity(); as entity) {
      <span class="separator">&#10148;</span>
      <a class="link" [routerLink]="['/', entity.id]">{{ entity.title }}</a>
      @if (article(); as article) {
        <span class="separator">&#10148;</span>
        <a class="link" [routerLink]="['/', entity.id, article.id]">{{ article.title }}</a>
      }
    }
  </div>
}

<!-- Navigation Button -->
<button type="button" class="nav-button" (click)="togglePanel()">
  @if (isPanelOpen()) {
    <img class="icon" src="img/icons/cross.svg" alt="" />
  } @else {
    <img class="icon" src="img/icons/hamburger.svg" alt="" />
  }
</button>

<!-- Blocker -->
@if (isPanelOpen()) {
  <div class="blocker" (click)="togglePanel()"></div>
}

<!-- Navigation Panel -->
<div 
  #scrollTarget
  class="nav-panel"
  [ngClass]="{ 'open': isPanelOpen(), 'in-progress': isActionInProgress() }">
  <h2>Навигация по сайту</h2>
  @if (contentList(); as content) {
    <h3>Книги</h3>
    @for (book of content.books; track book.id) {
      <div class="entity-container">
        <div class="entity-header">
          <a [routerLink]="['/', book.id]">{{ book.title }}</a>
        </div>
        <div class="entity-content">
          @for (chapter of book.chapters; track chapter.id) {
            <div>
              <a [routerLink]="['/', book.id, chapter.id]">
                <ng-container>{{ chapter.caption }}: {{ chapter.title }}</ng-container>
              </a>
            </div>
          }
        </div>
      </div>
    }
    <h3>Материалы</h3>
    @for (material of content.materials; track material.id) {
      <div class="entity-container">
        <div class="entity-header">
          <a [routerLink]="['/', material.id]">{{ material.title }}</a>
        </div>
        <div class="entity-content">
          @for (part of material.parts; track part.id) {
            <div>
              <a [routerLink]="['/', material.id, part.id]">{{ part.title }}</a>
            </div>
          }
        </div>
      </div>
    }
  }
</div>
